[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/vaccine-scheduling-application/vaccine_site/
ExecStart=/home/ubuntu/vaccine-scheduling-application/env/bin/gunicorn vaccine_site.wsgi:application --bind unix:/run/gunicorn.sock --workers 2

[Install]
WantedBy=multi-user.target